@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700"); /* import Montserrat font  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: Helvetica, "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: black;
}

#time {
  font-size: 3rem;
}

h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

p {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

.text {
  padding: 10rem;
  margin-top: 10rem;
}

.time {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 3rem;
}

.nav {
  text-align: right;
  height: 7rem;
  line-height: 7rem;
}

.menu {
  margin: 0 3rem 0 0;
}

.menu a {
  text-decoration: none;
  color: gray;
  margin: 0 1rem;
  line-height: 7rem;
}

#burguer_ico {
  font-size: 2rem;
  margin-right: 3rem;
  transition: all 0.5s ease-in-out;
}

#toggle {
  display: none;
}

#toggle:checked + .menu {
  display: block;
}

.menu {
  display: none;
}

.menu a:hover {
  color: white;
}

@media (max-width: 700px) {
  #time {
    display: block;
    font-size: 2rem;
  }

  #greeting {
    display: block;
    font-size: 2rem;
  }

  #desc {
    display: block;
    font-size: 1rem;
  }
}
